body {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
  box-sizing: border-box;
  color: #d2d2d2;
}

.container-body {
  border: 1px solid rgba(100, 100, 100, 0.7);
  border-top: none;
}

h1 {
  margin: 0;
  color: #d7c28e;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.around {
  display: flex;
  justify-content: space-around;
}

.j-c-center {
  display: flex;
  justify-content: center;
}

.a-i-center {
  display: flex;
  align-items: center;
}

.j-c-se-a-i-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body {
  font-family: "lato", sans-serif;
}

a {
  cursor: pointer;
  font-family: "Poiret one", sans-serif;
}

h1 {
  font-family: "Poiret one", sans-serif;
  font-size: 125px;
}

h4 {
  font-family: "Poiret one", sans-serif;
  font-size: 80px;
  margin: 0;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1500px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-bar {
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 27px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.7);
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
  color: #d7c28e;
  padding-left: 0px;
}

.underline {
  transition: all 300ms ease;
}
.underline::before {
  display: block;
  content: "";
  background-color: rgba(100, 100, 100, 0.7);
  width: 0%;
  height: 1px;
  transform-origin: left;
  transition: 0.6s cubic-bezier(0.5, 0, 0, 1);
}
.underline::after {
  display: block;
  content: "";
  background-color: rgba(100, 100, 100, 0.7);
  width: 0%;
  height: 1px;
  transform-origin: right;
  transition: 0.6s cubic-bezier(0.5, 0, 0, 1);
}
.underline:hover {
  color: white;
  transform: scale(1.01);
}
.underline:hover::before {
  width: 100%;
}
.underline:hover::after {
  width: 100%;
}

.first-page {
  height: 100vh;
}

.name-container {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.svg-container {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lines-span {
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lottie-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-color {
  border-bottom: 1px solid rgba(161, 161, 161, 0.831372549);
}

.width1 {
  width: 65%;
}

.width2 {
  width: 75%;
}

.title-alternance {
  text-align: center;
}

.day-alter {
  font-size: 80px;
}

svg {
  width: 482px;
}

.svg-developer path {
  fill: transparent;
  stroke-width: 1;
  stroke: rgba(230, 188, 142, 0.3);
  stroke-dasharray: 465;
  stroke-dashoffset: 465;
  animation: animate-developer 3s linear forwards;
}

.svg-front path {
  fill: transparent;
  stroke-width: 1;
  stroke: rgba(230, 188, 142, 0.3);
  stroke-dasharray: 677;
  stroke-dashoffset: 677;
  animation: animate-front 3s linear forwards;
}

@keyframes animate-developer {
  0% {
    stroke-dashoffset: 465;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes animate-front {
  0% {
    stroke-dashoffset: 677;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*# sourceMappingURL=style.css.map */
