body {
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: $background-color;
    box-sizing: border-box;
    color: $text-beige;
}

.container-body {
    border: 1px solid $border-primary;
    border-top: none;
}

h1 {
    margin: 0;
    color: $text-primary;
}

//General content
.flex {
    display: flex;
    flex-wrap: wrap;
}
.around {
    display: flex;
    justify-content: space-around;
}
.j-c-center {
    display: flex;
    justify-content: center;
}
.a-i-center {
    display: flex;
    align-items: center;
}
.j-c-se-a-i-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
