// Lato Montserrat pt sans narrow raleway playfairDisplay PoiretOne Merriweather Raleway Dots
// Limelight
body {
    font-family: "lato", sans-serif;
}
a {
    cursor: pointer;
    font-family: "Poiret one", sans-serif;
}
h1 {
    font-family: "Poiret one", sans-serif;
    font-size: 125px;
}
h4 {
    font-family: "Poiret one", sans-serif;
    font-size: 80px;
    margin: 0;
}
