// Lato Montserrat pt sans narrow raleway playfairDisplay PoiretOne Merriweather Raleway Dots
// Limelight
body {
    font-family: "Raleway", sans-serif;
}
a {
    cursor: pointer;
    font-family: "Poiret one", sans-serif;
}
h1 {
    font-family: "Poiret one", sans-serif;
    font-size: 136px;
}
