// Lato Montserrat pt sans narrow raleway playfairDisplay PoiretOne Merriweather Raleway Dots
// Limelight
body {
    font-family: "lato", sans-serif;
}
a {
    cursor: pointer;
    font-family: "Poiret one", sans-serif;
}
h1 {
    font-family: "Poiret one", sans-serif;
    font-size: 100px;
    padding-right: 40px;
    padding-left: 40px;
}

h4 {
    font-family: "Poiret one", sans-serif;
    font-size: 75px;
    margin: 0;
    border-top: 1px solid #d7c28e8f;
    border-bottom: 1px solid #d7c28e8f;
    padding-right: 65px;
    padding-left: 65px;
    padding-bottom: 3px;
}
.date-padding {
    padding-right: 29px;
    padding-left: 66px;
    padding-bottom: 3px;
    font-size: 73px;
}
