.first-page {
    height: 100vh;
}
//Container Height
.name-container {
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.svg-container {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lines-span {
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.lottie-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
//Line effet
.line-color {
    border-bottom: 1px solid #a1a1a1d4;
}
.width1 {
    width: 65%;
}
.width2 {
    width: 75%;
}

//Alternance box
.title-alternance {
    text-align: center;
}

.day-alter {
    font-size: 80px;
}

// SVG
svg {
    width: 482px;
}

.svg-developer path {
    fill: transparent;
    stroke-width: 1;
    stroke: $stroke;
    // définit le motif des traits et des espaces utilisés pour dessiner le contour de la forme.
    stroke-dasharray: 465;
    // décale la position de départ des pointillés sur les lignes SVG.
    stroke-dashoffset: 465;
    animation: animate-developer 3s linear forwards;
}

.svg-front path {
    fill: transparent;
    stroke-width: 1;
    stroke: $stroke;
    // définit le motif des traits et des espaces utilisés pour dessiner le contour de la forme.
    stroke-dasharray: 677;
    // décale la position de départ des pointillés sur les lignes SVG.
    stroke-dashoffset: 677;
    animation: animate-front 3s linear forwards;
}

//Animation SVG
@keyframes animate-developer {
    0% {
        stroke-dashoffset: 465;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animate-front {
    0% {
        stroke-dashoffset: 677;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
