//Container Height
.name-container {
    height: 28vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.svg-container {
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lines-span {
    height: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.alternance-container {
    height: 26vh;
}
.lottie-container {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
//Line effet
.line-color {
    border-bottom: 1px solid #a1a1a1d4;
}
.width1 {
    width: 49%;
}
.width2 {
    width: 55%;
}
//Alternance box
.title-alternance {
    text-align: center;
    font-family: "Poiret One";
    font-size: 30px;
    margin: 0;
    color: #cdb280;
}
.day-alter {
    font-size: 80px;
    border: 1px solid $text-header;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

// SVG
svg {
    width: 500px;
}
.svg-developer path {
    fill: transparent;
    stroke-width: 1;
    stroke: $stroke;
    stroke-dasharray: 465;
    stroke-dashoffset: 465;
    animation: animate-developer 3s linear forwards;
}

.svg-front path {
    fill: transparent;
    stroke-width: 1;
    stroke: $stroke;
    // définit le motif des traits et des espaces utilisés pour dessiner le contour de la forme.
    stroke-dasharray: 677;
    // décale la position de départ des pointillés sur les lignes SVG.
    stroke-dashoffset: 677;
    animation: animate-front 3s linear forwards;
}

//Animation SVG
@keyframes animate-developer {
    0% {
        stroke-dashoffset: 465;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes animate-front {
    0% {
        stroke-dashoffset: 677;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
