// Couleurs principales du site
$background-color: #0c0c0c;
$text-header: #d7c28e;
$text-primary: #d7c28e;
$text-beige: #d2d2d2;

$border-primary: rgb(100 100 100 / 70%);
$stroke: rgb(230 188 142 / 30%);

//White theme color
// $background-color: #c4bcb3;
// $color-primary: #1c1c1a;

// Breakpoints
$breackpoints: (
    mobile: 768px,
    tablette: 992px,
    ecran-max: 1624px,
);
